/* color palette from <https://github.com/vuejs/theme> */
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

:root {
	--vt-c-white: #ffffff;
	--vt-c-white-soft: #f8f8f8;
	--vt-c-white-mute: #f2f2f2;

	--vt-c-black: #181818;
	--vt-c-black-soft: #222222;
	--vt-c-black-mute: #282828;

	--vt-c-indigo: #2c3e50;

	--vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
	--vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
	--vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
	--vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

	--vt-c-text-light-1: var(--vt-c-indigo);
	--vt-c-text-light-2: rgba(60, 60, 60, 0.66);
	--vt-c-text-dark-1: var(--vt-c-white);
	--vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
	--radius: 0.625rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.13 0.028 261.692);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.13 0.028 261.692);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.13 0.028 261.692);
	--primary: oklch(0.21 0.034 264.665);
	--primary-foreground: oklch(0.985 0.002 247.839);
	--secondary: oklch(0.967 0.003 264.542);
	--secondary-foreground: oklch(0.21 0.034 264.665);
	--muted: oklch(0.967 0.003 264.542);
	--muted-foreground: oklch(0.551 0.027 264.364);
	--accent: oklch(0.967 0.003 264.542);
	--accent-foreground: oklch(0.21 0.034 264.665);
	--destructive: oklch(0.577 0.245 27.325);
	--destructive-foreground: oklch(0.577 0.245 27.325);
	--border: oklch(0.928 0.006 264.531);
	--input: oklch(0.928 0.006 264.531);
	--ring: oklch(0.707 0.022 261.325);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0.002 247.839);
	--sidebar-foreground: oklch(0.13 0.028 261.692);
	--sidebar-primary: oklch(0.21 0.034 264.665);
	--sidebar-primary-foreground: oklch(0.985 0.002 247.839);
	--sidebar-accent: oklch(0.967 0.003 264.542);
	--sidebar-accent-foreground: oklch(0.21 0.034 264.665);
	--sidebar-border: oklch(0.928 0.006 264.531);
	--sidebar-ring: oklch(0.707 0.022 261.325);
}

/* semantic color variables for this project */
:root {
	--color-background: var(--vt-c-white);
	--color-background-soft: var(--vt-c-white-soft);
	--color-background-mute: var(--vt-c-white-mute);

	--color-border: var(--vt-c-divider-light-2);
	--color-border-hover: var(--vt-c-divider-light-1);

	--color-heading: var(--vt-c-text-light-1);
	--color-text: var(--vt-c-text-light-1);

	--section-gap: 160px;
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--color-background: var(--vt-c-black);
		--color-background-soft: var(--vt-c-black-soft);
		--color-background-mute: var(--vt-c-black-mute);

		--color-border: var(--vt-c-divider-dark-2);
		--color-border-hover: var(--vt-c-divider-dark-1);

		--color-heading: var(--vt-c-text-dark-1);
		--color-text: var(--vt-c-text-dark-2);
	}
} */

* {
	box-sizing: border-box;
}

body {
	color: var(--color-text);
	background: var(--color-background-soft);
	transition:
		color 0.5s,
		background-color 0.5s;
	line-height: 1;
	font-family:
		"Wix Madefor Text",
		"Inter",
		sans-serif;
	font-size: 16px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	overflow: hidden;
}

button:active {
	transform: scale(.98);
	transition: transform 0.1s ease-out;
}
